@charset "utf-8";
/* CSS Document */
* {
	background-color: #d8d8d8;
	font-family: aktiv-grotesk, sans-serif;
	font-style: normal;
	font-weight: 200;
	}

h1 {
  text-align: left;
  color: red;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}


div {
	text-align: left;
}

#top {
	font-family: aktiv-grotesk, sans-serif;
	font-weight: 200;
	font-style: bold;
	text-decoration: none;
}
.bold{
	font-weight: bold;
}